<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="img/LSR_BCRD_M1_4.jpg"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/about">About</a></li>
                <li><a href="#/music">Music</a></li>
                <li><a href="#/tech">Tech</a></li>
                <li><a href="#/calendar">Calendar</a></li>
                <li><a href="#/events">Events</a></li>
                <li><a href="#/users">Users</a></li>
                <li><a href="#/contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li ng-show="userService.isAuthenticated()"><a href="#/profile"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a></li>
                <li ng-hide="userService.isAuthenticated()"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                <li ng-hide="userService.isAuthenticated()"><a href="#/signup"><span class="glyphicon glyphicon-log-in"></span>Signup</a></li>
                <li ng-show="userService.isAuthenticated()"><a href="#/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
