<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-9 text-left">
            <h1>Women in Music</h1>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <h3>Subcategories:</h3>
                    <button ng-click="subcategory='Producer' " class="btn topBtn">Producer</button>
                    <button ng-click="subcategory='Rapper' " class="btn topBtn">Rapper</button>
                    <button ng-click="subcategory='Singer' " class="btn topBtn">Singer</button>
                    <button ng-click="subcategory='Musician' " class="btn topBtn">Musician</button>
                    <button ng-click="subcategory='Song Writer' " class="btn topBtn">Song Writer</button>
                    <button ng-click="subcategory='Other' " class="btn topBtn">Other</button>
                    <button ng-click="subcategory='' || undefined" class="btn topBtn">All</button>
                </div>
            </div>
            <hr>
            <div class="row allWoman">
                <div class="col-md-4" ng-repeat="woman in allWomen | filter:{ category: 'Music', subcategoryMus: subcategory}">
                    <script type="text/ng-template" id="group-template.html">
                        <div class="panel-heading">
                            <h4 class="panel-title" style="color:#fa39c3">
                                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()"
                                   uib-accordion-transclude="heading">
                                     <span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span>
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" uib-collapse="!isOpen">
                            <div class="panel-body" style="text-align: right" ng-transclude></div>
                        </div>
                    </script>

                    <p>
                        <button type="button" class="btn btn-default btn-sm" ng-click="status.open = !status.open">
                            Toggle last panel
                        </button>
                    </p>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="oneAtATime">
                            Open only one at a time
                        </label>
                    </div>

                    <img class="categImage" src="{{woman.imgUrl}}">
                    <div class="col-xs-3 col-md-3 col-lg-3 likes">
                        <button class="btn clicker" ng-click="like(woman)"><span
                                class="glyphicon glyphicon-thumbs-up"
                                aria-hidden="true"></span>
                        </button>
                        Likes: <span class="reg">{{woman.like}}</span>
                    </div>
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="panel-default" heading="{{woman.name}}">
                            {{woman.bio}}
                        </div>
                        <div uib-accordion-group class="panel-default" heading="{{woman.subcategoryMus}}">
                            <p>The body of the uib-accordion group grows to fit the contents</p>
                            <button type="button" class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
                            <div ng-repeat="item in items">{{item}}</div>
                        </div>
                        <div uib-accordion-group class="panel-default" ng-repeat="social in woman.socialMedia" heading="Social Media"
                             template-url="group-template.html">
                            <span>{{social}}</span>
                        </div>
                        <div uib-accordion-group class="panel-default" is-open="status.isCustomHeaderOpen"
                             template-url="group-template.html">
                            <uib-accordion-heading>
                                Custom template with custom header template <i class="pull-right glyphicon"
                                                                               ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
                            </uib-accordion-heading>
                            World
                        </div>
                        <div uib-accordion-group class="panel-default" is-open="status.open">
                            <uib-accordion-heading>
                                I can have markup, too! <i class="pull-right glyphicon"
                                                           ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            </uib-accordion-heading>
                            This is just some content to illustrate fancy headings.
                        </div>
                    </uib-accordion>
                    <!--<div>{{woman.name}}</div>-->
                    <!--<div ng-repeat="item in woman.category">{{item}}</div>-->
                    <!--<div>{{woman.subcategoryMus}}</div>-->
                    <div>{{woman.occupation}}</div>
                    <!--<div>{{woman.bio}}</div>-->
                    <!--<div ng-repeat="social in woman.socialMedia">-->
                        <!--<span>{{social}}</span>-->
                    <!--</div>-->
                    <div>{{woman.contact}}</div>
                    <!--<img class="categImage" src="{{woman.imgUrl}}">-->

                    <div class="btnBox">
                        <button ng-show="currentUser.admin" class="bttn-jelly bttn-md bttn-primary xbut"
                                ng-click="deleteWomen(woman, $index)">x
                        </button>
                        <button ng-show="currentUser.admin" class="bttn-jelly bttn-md bttn-primary editbut"
                                ng-click="woman.womanEditBox = !woman.womanEditBox">edit
                        </button>
                        <button class="bttn-jelly bttn-md bttn-primary savebut"
                                ng-show="woman.womanEditBox && currentUser.admin" ng-click="saveWomanEdit(woman)">save
                            edits
                        </button>
                    </div>
                    <div ng-show="woman.womanEditBox" id="{{woman._id}}">
                        <div>Name: <input ng-model="woman.name" placeholder="{{woman.name}}"></div>
                        <div>Subcategory: <input ng-model="woman.subcategoryMus" placeholder="{{woman.subcategoryMus}}">
                        </div>
                        <div>Category: <input ng-model="woman.category" placeholder="{{woman.category}}"></div>
                        <div>Company: <input ng-model="woman.company" placeholder="{{woman.company}}"></div>
                        <div>ImgUrl: <input ng-model="woman.imgUrl" placeholder="{{woman.imgUrl}}"></div>
                        <div>Bio: <input ng-model="woman.bio" placeholder="{{woman.bio}}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 sidenav">
            <div class="well">
                <button type="button" class="btn btn-info btn-lg sidebtn" data-toggle="modal" data-target="#myModal">
                    Submit a Woman in Music
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Submit Information</h4>
                            </div>
                            <div class="modal-body">
                                <input ng-model="newWoman.name" placeholder="Name">
                                <div class="selectBox">

                                    <label for="category">I am...</label>
                                    <select name="category" ng-model="newWoman.subcategoryMus">
                                        <option value="" disabled selected>--Please Select--</option>
                                        <option value="Producer">Producer</option>
                                        <option value="Rapper">Rapper</option>
                                        <option value="Singer">Singer</option>
                                        <option value="Musician">Musician</option>
                                        <option value="Song Writer">Song Writer</option>
                                        <option value="None of the above">None of the above</option>
                                    </select>
                                </div>
                                <input ng-model="newWoman.occupation" placeholder="Occupation">

                                <input ng-model="newWoman.bio" placeholder="Biogrophy">
                                <input ng-model="newWoman.socialMedia" placeholder="Social Media">
                                <input ng-model="newWoman.contact" placeholder="Contact">
                                <input ng-model="newWoman.imgUrl" placeholder="imgUrl">
                                <button ng-click="submitWoman(newWoman)">Submit</button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="well">
                <button ng-click="register(newUser)" class="bttn-unite bttn-lg bttn-primary regBtn">Register</button>
            </div>
            <div class="well">
                <a href="#/music">
                    <button class="btns bttn-fill bttn-md bttn-primary" ng-click="music()">Music</button>
                </a>
                <a href="#/tech">
                    <button class="btns bttn-fill bttn-md bttn-primary" ng-click="tech()">Technology</button>
                </a>
            </div>
        </div>
    </div>
</div>

